<Files config.php>
    Order Deny,Allow
    Deny from all
</Files>



# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
    order allow,deny
    deny from all
    satisfy all
</Files>
