<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>foodgraber</name>

    <description>
      food app
    </description>

    <author href="https://foodgraber.de">
      foodgraber
    </author>
    
    <gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.globalization"/>
    <icon src="img/foodgraber.png"/>
</widget>
